<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma-Hma</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Google APIs -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://apis.google.com/js/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
</head>

<body>
    <!-- Contenedor principal -->
    <div class="dashboard-container">
        <!-- Header -->
        <header class="header">
            <h1 class="header-title">Plataforma Hma</h1>
            <button id="logout">Cerrar Sesion</button>
        </header>

        <!-- Sidebar -->
        <aside class="sidebar">
            <nav>
                <ul class="menu">
                    <li><button class="menu-btn" data-section="inicio">Inicio</button></li>
                    <li><button class="menu-btn" data-section="registro-hhee">Registro HHEE</button></li>
                </ul>
            </nav>
        </aside>

        <!-- Contenido principal -->
        <main class="main-content">
            <!-- Sección Inicio -->
            <section id="inicio" class="section active">
                <h2>Dashboard Principal</h2>
                <div>
                    <p>Total de registros: <span id="total-registros">0</span></p>
                    <p>Total de horas extras: <span id="total-horas-extras">00:00</span></p>
                </div>

            </section>

            <!-- Sección Registro HHEE -->
            <!-- Sección Registro HHEE -->
            <section id="registro-hhee" class="section">
                <!-- Contenedor superior para los formularios -->
                <div class="formulario-container">
                    <!-- Formulario de Registro -->
                    <div class="form-container">
                        <h2>Formulario de Registro HHEE</h2><br><br>
                        <form id="form-hhee">
                            <div class="form-group">
                                <label for="rut">Rut</label>
                                <input type="text" id="rut" placeholder="12345678-9" required>
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" id="nombre" placeholder="Ej: Juan Pérez" required>
                            </div>
                            <div class="form-group">
                                <label for="cargo">Cargo</label>
                                <input type="text" id="cargo" placeholder="Ej: Operador" required>
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha</label>
                                <input type="date" id="fecha" required>
                            </div>
                            <div class="form-group">
                                <label for="hora-inicio">Hora de Inicio</label>
                                <input type="text" id="hora-inicio" placeholder="HH:MM" maxlength="5" required>
                            </div>
                            <div class="form-group">
                                <label for="hora-termino">Hora de Término</label>
                                <input type="text" id="hora-termino" placeholder="17:30" maxlength="5" required>
                            </div>
                            <button type="submit" class="btn">Registrar</button>
                        </form>
                    </div>

                    <!-- Informe Mensual -->
                    <div id="mini-informe-hhee" class="mini-informe-container">
                        <h2>Informe Mensual de HHEE</h2>
                        <div class="form-group">
                            <label for="rut-consulta">Rut del Trabajador</label>
                            <input type="text" id="rut-consulta" placeholder="12345678-9" required>
                        </div>
                        <div class="form-group">
                            <label for="nombre-consulta">Nombre</label>
                            <input type="text" id="nombre-consulta" placeholder="Nombre del trabajador" disabled>
                        </div>
                        <div class="form-group">
                            <label for="mes-consulta">Seleccionar Mes</label>
                            <select id="mes-consulta">
                                <option value="">Todos los meses</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                        </div>
                        <button id="btn-consultar-hhee" class="btn">Consultar</button>
                        <br>

                        <button id="btn-descargar-pdf" class="btn">Descargar Informe en PDF</button>

                        <h3>Detalle de HHEE</h3>
                        <table id="tabla-informe-hhee">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Horas Extras</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Aquí se llenarán los datos dinámicamente -->
                            </tbody>
                        </table>
                        
                        
                        

                        <div id="resumen-hhee">
                            <h3>Resumen</h3>
                            <p>Total de Horas Extras del Mes: <span id="total-horas-mes">00:00</span></p>
                            <p>
                                <label for="valor-hhee">Valor por Hora Extra</label>
                                <input type="number" id="valor-hhee" placeholder="Ej: 5000">
                            </p>
                            <p>Total Ganado en el Mes: <span id="total-ganado-mes">$0.00</span></p>
                        </div>
                    </div>
                </div>

                <!-- Tabla de Registros -->
                <h3>Registros</h3>
                <table id="tabla-registros">
                    <thead>
                        <tr>
                            <th>Rut</th>
                            <th>Nombre</th>
                            <th>Cargo</th>
                            <th>Fecha</th>
                            <th>Hora de Inicio</th>
                            <th>Hora de Término</th>
                            <th>Total Horas Extras</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se insertarán dinámicamente los registros -->
                    </tbody>
                </table>
            </section>



        </main>
    </div>

    <script src="https://apis.google.com/js/api.js"></script>
    <script src="/assets/js/dashboard.js" type="module"></script>


</body>

</html>