body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 250, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }
  
  .login-card {
    width: 100%;
    padding: 30px;
    background: rgb(255, 250, 235);
    box-shadow: 0px 12px 26px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    color: rgba(16, 86, 82, .75);
    margin-bottom: 20px;
  }
  
  .login-form {
    display: grid;
    gap: 15px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .input-group label {
    font-size: 14px;
    font-weight: bold;
    color: rgba(16, 86, 82, .75);
    margin-bottom: 5px;
  }
  
  .input-field {
    height: 36px;
    padding: 0 12px;
    border-radius: 5px;
    border: 1px solid rgb(16, 86, 82);
    background-color: rgb(251, 243, 228);
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .input-field:focus {
    border: 1px solid rgba(16, 86, 82, .75);
    box-shadow: 0 0 4px rgba(16, 86, 82, .5);
  }
  
  .login-button {
    height: 40px;
    background: rgba(16, 86, 82, .75);
    color: #000;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: rgba(16, 86, 82, .9);
  }
  
  .login-footer {
    font-size: 12px;
    color: #000;
  }
  
  .link {
    color: rgba(16, 86, 82, .75);
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }

  
  /* ALERTA DE CONEXION*/

  .login-status {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .status {
    font-size: 14px;
    font-weight: bold;
    color: gray; /* Estado inicial */
  }
  
  .status.connected {
    color: green;
  }
  
  .status.disconnected {
    color: red;
  }

  .swal2-toast {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
  }
  